body {
    font-family: "Montserrat", sans-serif;
    color: #70757A;
}

h1 {
    color: #202124;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 16px;

}

li:first-letter {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: #70757A;
    cursor: pointer;
}
a:hover {
   color:#202124;
}

a:active {
    color:#202124;
}



.app-wrapper {
    max-width: 652px;
    margin: 20px auto;

}

.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 7px;
}

.main-temperature {
    color: #202124;
    font-size: 48px;
    line-height: 60px;
}

.units {
    position: relative;
    top: -24px;
    padding-left: 6px;
}

.add-info {
    font-size: 12px;
    line-height: 16px;
}

