body {
    font-family: "Montserrat", sans-serif;
    color: #70757A;
}

h1 {
    color: #202124;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 16px;
}

li:first-letter {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    /* color: #0d6efd; */
    /* cursor: pointer; */
}


small {
    font-size: .8em;
}

.app-wrapper {
    max-width: 600px;
    margin: 20px auto;

}

.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 7px;
    background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}


.city-block {
    margin-bottom: 40px;
}

.city, .current-day, .description {
    text-align: center;
}

.main-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
.temperature {
    padding-top: 14px;
    padding-left: 50px;
}
.main-temperature {
    color: #202124;
    font-size: 48px;
    line-height: 60px;
}

.units {
    position: relative;
    top: -22px;
    margin-left: 10px;
}

.add-info-block {
    padding-top: 20px;
}


.add-info {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-date {
    font-size: 16px;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.temp-max {
    color: #202124;
    font-weight: bold;
}

.active {
    color: #202124;
    font-weight: bold;
    cursor: default;
}

.active:hover {
    color: #202124;
}

.localization-button {
    width: 80px;
}